* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* max-width: 1024px; */
  width: 100vw;
  background-color: black;
  color: white;
}

#game-wrapper {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "HEADER"
    "CARD"
    "FOOTER";
  text-align: center;
}

/*  HEADER   */
header {
  display: grid;
  grid-template-areas: "HeaderA HeaderB HeaderC";
}

/*  CARDBOX  */
#cardbox {
  min-height: 800px;
  display: grid;

}

/*  CARD  */
#card {
  display: grid;
  grid-template-areas:
    "AH BH CH DH EH"
    "A1 B1 C1 D1 E1"
    "A2 B2 C2 D2 E2"
    "A3 B3 C3 D3 E3"
    "A4 B4 C4 D4 E4"
    "A5 B5 C5 D5 E5"
  ;

}

/* FOOTER */
footer {
  min-height: 24px;
  background: green;
  display: grid;
  grid-template-areas: "FooterA FooterB FooterC";
}

#lastCall {
  grid-area: HeaderA;
}

#call {
  grid-area: HeaderB;
}

#resets {
  grid-area: HeaderC;
}

button {
  padding: 18px;
  border-radius: 14px;
  background-color: goldenrod;
  font-size: 1.4rem;
  border: 3px solid blueviolet;
}

@media screen and (max-width: 768px) {
  #last {
    grid-area: HeaderA;
  }

  #call {
    grid-area: HeaderB;
  }

  #resets {
    grid-area: FooterC;
  }
}