* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  max-width: 100vw;
  max-height: 100vh;
}

#game-wrapper {
  background-color: pink; 
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "HEADER"
    "CARDBOX"
    "FOOTER"
  ;
  gap: 22px;
  justify-content: center;
  padding: 22px;
}

#header {
  grid-area: HEADER;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "HDR-A  HDR-B HDR-C"
  ;
  justify-content: space-between;
}


/* CARD  */

#call-row {
  display: flex;
}